/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = < 
                &kp TAB   &kp QUOT   &kp COMM   &kp DOT   &kp P      &kp Y
                &kp LCTL  &kp A      &kp O      &kp E     &kp U      &kp I
                &kp LSFT  &kp SCLN   &kp Q      &kp J     &kp K      &kp X
                &kp LGUI  &mo 1      &mo 2      &kp BSPC  &kp L      &kp R
                &kp C     &kp G      &kp F      &kp RCTL  &kp S      &kp N
                &kp T     &kp H      &kp D      &mt(MOD_LSFT|MOD_RSFT, KC_SLSH) &kp Z &kp V
                &kp W     &kp M      &kp B      &kp RALT  &lt(3, KC_ENT) &kp SPC
            >;
        };

        lower_layer {
            bindings = <
                &kp TRNS  &none      &none      &none     &none     &kp C_PWR
                &kp TRNS  &none      &none      &kp LALT  &kp LGUI  &none
                &kp TRNS  &none      &none      &none     &none     &none
                &kp TRNS  &kp TRNS   &kp TRNS   &kp TRNS  &kp END   &none
                &kp UP    &none      &kp VOLU   &kp DEL   &kp HOME  &kp RGHT
                &kp DOWN  &kp LEFT   &kp VOLD   &kp TRNS  &none     &none
                &kp MNXT  &kp MPRV   &kp MPLY   &none     &none     &none
                &kp TRNS  &kp TRNS   &kp TRNS
            >;
        };

        raise_layer {
            bindings = <
                &kp TRNS  &none      &none      &none     &kp F5    &none
                &kp TRNS  &none      &none      &kp LALT  &kp LGUI  &kp PSCR
                &kp TRNS  &none      &none      &none     &none     &none
                &kp TRNS  &kp TRNS   &kp TRNS   &kp TRNS  &kp MINS  &kp P9
                &kp P8    &kp P7     &kp PSLS   &kp TRNS  &kp PPLS  &kp P6
                &kp P5    &kp P4     &kp PAST   &kp TRNS  &kp PDOT  &kp P3
                &kp P2    &kp P1     &kp P0     &none     &none     &none
                &kp TRNS  &kp TRNS   &kp TRNS
            >;
        };

        new_layer {
            bindings = <
                &kp TRNS  &none      &none      &s(KC_9)  &s(KC_0)  &s(KC_BSLS)
                &kp TRNS  &none      &s(KC_1)   &s(KC_LBRC) &s(KC_RBRC) &kp EQL
                &kp TRNS  &none      &none      &kc LBRC   &kc RBRC &s(KC_7)
                &kp TRNS  &kp TRNS   &kp TRNS   &kp TRNS   &s(KC_5)  &s(KC_4)
                &s(KC_3)  &s(KC_2)   &s(KC_GRV) &kp TRNS   &none     &none
                &macro_4  &macro_2   &macro_0   &kp TRNS   &none     &none
                &macro_3  &macro_1   &none      &none      &kp TRNS
            >;
        };
    };
};
